<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RMI</title>
</head>
<script>
    async function fetchMessage() {
        try {
            const response = await fetch('http://localhost:8090/hello');
            if (!response.ok) {
                throw new Error('Network response was not ok, status: ' + response.status);
            }
            document.getElementById('result').innerText = await response.text();
        } catch (error) {
            console.error('Error fetching greeting:', error);
            document.getElementById('result').innerText = '请求失败: ' + error.message;
        }
    }

</script>
<body>
<h1>这是我的 RMI 服务Demo</h1>
<button onclick="fetchMessage()">点击获取Hello</button>
<div id="result"></div>
</body>
</html>